{{> style}}
{{> nav}}

<div class="container">
    <h1 id="hi">Hi {{ firstName }} <i class="fas fa-bell" id="bell" data-toggle="popover" title="Notifications"
            data-content="
            {{#each comments}}
            {{#unless seen}}
            {{#ifCond this.poster ./username}}
            {{else}}
            <div class='notify'><a href=/users/{{this.commenter}}> {{this.commenter}}</a> replied to your post <a href=/forum/post/{{this.PostId}}>{{this.title}}</a> {{ prettifyDate this.createdAt }}<i class='fas fa-times-circle' id='{{this.id}}'></i></div>
            {{/ifCond}}
            {{/unless}}
            {{/each}}
            " data-html="true"></i>
    </h1>
    <div class="grid-container">
        <a href="/myaccount">
            <div class="card mt-4" id="card">
                <div class="card-body">
                    <h5 class="card-title">Edit your account</h5>
                    <p>Change profile features such as name, location, supplies needed, and supplies offered
                    </p>
                </div>
            </div>
        </a>
        {{!-- Params are converted to lowercase in the backend, so slug is not needed here --}}
        <a href="/users/{{ username }}">
            <div class="card mt-4" id="card">
                <div class="card-body">
                    <h5 class="card-title">View your profile</h5>
                    <p>Your profile is a way of sharing with other crishipped users your location, supplies that you
                        need or have to offer</p>
                </div>
            </div>
        </a>
        {{#if city}}
        <a href="/location/{{city}}">
            <div class="card mt-4" id="card">
                <div class="card-body">
                    <h5 class="card-title">{{city}} Infomation</h5>
                    <p>Get the latest news and information for {{city}}, {{state}}</p>
                </div>
            </div>
        </a>
        {{/if}}
        {{#each cards}}
        <a href="{{this.url}}">
            <div class="card mt-4" id="card">
                <div class="card-body">
                    <h5 class="card-title">{{this.card_title}}</h5>
                    <p>{{this.description}}</p>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</div>
<br><br><br><br>

<script src="/js/index.js"></script>